:root {
    --gray: #30343D;
    --yellow: #F8F15A;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100%;
    font-family: "Inter", "sans-serif";
    scroll-behavior: smooth;
    position: relative;
}

.header {
    width: 100%;
    background: var(--gray);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.container__fluid {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.banner  {
    height: 920px;
    width: 1140px; 
    position: absolute;
    margin-top: 1.5%;
}

.center {
    text-align: center;
    position: relative;
    width: 100%;
}

h1, h2 {
    color: var(--white);
    font-weight: 700;
}

h1 {
    font-size: 40px;
    margin-top: 87.5%;
}

h2 {
    font-size: 20px;
    letter-spacing: 4px;
    margin-top: 4%;
}

.link a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    /* border-bottom: solid var(--white) 2px; */
    letter-spacing: 4px;
    display: inline-block;
    padding-bottom: 6px;
    margin: 29% 0 0 3%;
}

.link a:hover {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    border-bottom: solid var(--white) 3px;
    letter-spacing: 4px;
    display: inline-block;
    padding-bottom: 6px;
    margin: 29% 0 0 3%;
    cursor: pointer;
    transition: .3s;
}

.center p {
    color: var(--yellow);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 3%;
}

.slogan {
    width: 100%;
    height: 3%;
    position: relative;
    top: 46%;
    left: -22%;
    transform: rotate(-90deg);
}

.slogan p {
    color: var(--yellow);
    font-weight: 200;
    font-family: 'Inter', 'sans-serif';
    letter-spacing: 4px;
    user-select: none;
    

}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 27px;
}

.box {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 40px;
}

.box:last-child {
    margin: 0px;
}

.tg {   
    background: url(../images/tg_white.png) no-repeat;
}

.vk {
    background: url(../images/vk_white.png) no-repeat;
}
    
.gitHub {
    background: url(../images/git_white.png) no-repeat;
}

.tg:hover {
    cursor: pointer;   
    background: url(../images/tg-yellow.png) no-repeat;
}

.vk:hover {
    cursor: pointer;
    background: url(../images/vk-yellow.png) no-repeat;
}
    
.gitHub:hover {
    cursor: pointer;
    background: url(../images/git_yellow.png) no-repeat;
}

/* ======================================header_finished========================================= */

.preface p {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
    border-left: 2px solid var(--yellow);
    padding-left: 70px;
    margin: 144px 60px 205px 84px;
}

main .container__fluid {
    flex-wrap: wrap;
}

.plan {
    display: flex;
}

.left__plan {
    width: 600px;
    margin: 0px 95px 0px 20px;
}

.left__plan p {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 140px;
}

.left__plan img {
    margin-left: 115px;
}

.right__plan {
    width: 855px;
}

.right__plan li {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 62px;
    list-style: none;
}

.a {
    background: url(../images/01..svg) no-repeat;
    padding-left: 65px;
}

.b {
    background: url(../images/02..svg) no-repeat;
    padding-left: 65px;
}

.c {
    background: url(../images/03..svg) no-repeat;
    padding-left: 65px;
}

.d {
    background: url(../images/04..svg) no-repeat;
    padding-left: 65px;
}

.e {
    background: url(../images/05..svg) no-repeat;
    padding-left: 65px;
}

.landing .preface {
    margin: -70px 0px -100px 0px;
}

h3 {
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 105px;
} 

.slider {
    width: 1600px;
    height: 653px;
    border-radius: 10px;
    background: var(--gray);
}


/* ======================================main_finished========================================= */

.footer {
    background: var(--gray);
    width: auto;
    margin-top: 200px;
}


.logo p {
    color: var(--yellow);
    font-size: 16px;
    font-family: "Inter", "sans-serif";
    font-weight: 200;
    letter-spacing: 6px;
}

.footer_logo p {
    font-family: Inter, sans-serif;
    font-size: 128px;
    font-weight: bold;
    color: var(--white);
}

p.r {
    margin-left: 200px;
}
.footer_logo p {
    margin: 50px 0px 50px 0px;
}

.logo {
    margin: 70px 0px 70px 0px;
    width: 50%;
}

.contacts {
    margin: 108px 0px 78px 0px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer__left {
    margin-left: 63px;
}

.footer__left p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 55px;
}

.footer__left .phone {
    background: url(../images/phone.svg) no-repeat;
    height: 31px;
    padding: 2px 0 0 38px;
}

.footer__left .mail {
    background: url(../images/mail.svg) no-repeat;
    height: 31px;
    padding: 2px 0 0 38px;
}

.footer__left .prava {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--white);
}


.footer__right p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    margin: 0px 0px 60px 86px;
}

button {
    width: 335px;
    height: 79px;
    border-radius: 50px;
    background: var(--white);
    border: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

button:hover {
    width: 335px;
    height: 79px;
    border-radius: 50px;
    background: var(--white);
    border: solid 9px var(--yellow);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
}

.footer__right .social {
    margin: 0 0 60px -46px;
}



/* ======================================footer_finished========================================= */